<!DOCTYPE html>
<html>
    <body>
        {{data}}

        <table border="1">
            <tr>
                <th>id</th>
                <th>email</th>
                <th>first name</th>
                <th>last name</th>
                <th>avatar</th>
            </tr>
            {%for i in data %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.email}}</td>
                <td>{{i.first_name}}</td>
                <td>{{i.last_name}}</td>
                <td>{{i.avatar}}</td>
            </tr>
            {%endfor%}
        </table>
    </body>
</html>